div{
	margin-bottom: 5px;
	margin-top: 5px;
}

.centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bordered{
	border: solid;
}

.small_img{
	height: 75px;
	width: auto;
}

.fit_img{
	width: 100%;
	height: auto;
}

.shadow{
	box-shadow: 2px 2px #c0c0c0;
}

.italic{
	font-style: italic;
}

.top_margin{
	margin-top: 5px;
}